[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gam.hp"]
	path = gam.hp
	url = https://github.com/laijiangshan/gam.hp
[submodule "glmm.hp"]
	path = glmm.hp
	url = https://github.com/laijiangshan/glmm.hp
[submodule "phylolm.hp"]
	path = phylolm.hp
	url = https://github.com/laijiangshan/phylolm.hp
[submodule "rdacca.hp"]
	path = rdacca.hp
	url = https://github.com/laijiangshan/rdacca.hp
[submodule "upset.hp"]
	path = upset.hp
	url = https://github.com/laijiangshan/upset.hp
